# ----------------------------------------------------
# Python
# ----------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
.venv/
env/
venv/

# Model artifacts
models/
mlruns/

# Jupyter notebooks checkpoints (if you add notebooks later)
.ipynb_checkpoints/

# ----------------------------------------------------
# IDE / Editor files
# ----------------------------------------------------
.vscode/
.idea/

# ----------------------------------------------------
# OS-specific files
# ----------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------
# Docker
# ----------------------------------------------------
*.tar