# ----------------------------------------------------
# Python
# ----------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
.venv/
env/
venv/

# Model artifacts
models/
mlruns/

# Jupyter notebooks checkpoints (if you add notebooks later)
.ipynb_checkpoints/

# ----------------------------------------------------
# IDE / Editor files
# ----------------------------------------------------
.vscode/
.idea/

# ----------------------------------------------------
# OS-specific files
# ----------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------
# Docker
# ----------------------------------------------------
*.tar

# ----------------------------------------------------
# Terraform
# ----------------------------------------------------
# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs and plan files
crash.log
terraform.tfplan
*.tfplan

# Override files (local customization)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files (local only)
terraform.tfvars
*.tfvars
*.tfvars.json

# Lock file (optional: keep or ignore)
.terraform.lock.hcl